@{
    ViewData["Title"] = "";
}
@*<h1>@ViewData["Title"]</h1>*@


<div class="text-center">
    <h1 class="display-4"><b>Admin Dashboard</b> </h1>
</div>



<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="color:black">Staff Information</h4>
                <img src="/images/admin.jpg" class="card-img-top" alt="...">
                <p class="card-text">Admin staff details are persent on Staff Page.Admin can update it.</p>
                @*<a href="/Admin_pg/Index" class="btn btn-primary">Admin Staff</a>*@
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="color:black">Doctor Details</h4>

                <img src="/images/doctor.jpg" class="card-img-top" alt="...">

                <p class="card-text">Admin Can see available doctors</p>
               @* <a href="/Doctor_Detail/Index" class="btn btn-primary">Doctor History</a>*@
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="color:black">Patients Details</h4>
                <img src="/images/patient.jpg" class="card-img-top" alt="...">
                <p class="card-text">Admin can get patients details</p>
               @* <a href="/Patients/Index" class="btn btn-primary">Patients List</a>*@
            </div>
        </div>
    </div>
</div>
