@model Week_Project.Models.Admin_pg

@{
    ViewData["Title"] = "Create";
}


<h1>Add Staff </h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Admin_Name" class="control-label"></label>
                <input asp-for="Admin_Name" class="form-control" />
                <span asp-validation-for="Admin_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin_Email" class="control-label"></label>
                <input type="email" asp-for="Admin_Email" class="form-control" />
                <span asp-validation-for="Admin_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin_password" class="control-label"></label>
                <input type="password" asp-for="Admin_password" class="form-control" />
                <span asp-validation-for="Admin_password" class="text-danger"></span>
            </div>
            <br>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
