@model Week_Project.Models.Admin_pg

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Staff</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Admin_Id" />
            <div class="form-group">
                <label asp-for="Admin_Name" class="control-label"></label>
                <input asp-for="Admin_Name" class="form-control" />
                <span asp-validation-for="Admin_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin_Email" class="control-label"></label>
                <input asp-for="Admin_Email" class="form-control" />
                <span asp-validation-for="Admin_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin_password" class="control-label"></label>
                <input asp-for="Admin_password" class="form-control" />
                <span asp-validation-for="Admin_password" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
